The page lists important details about the Red Hat build of Quarkus {shortVersion} Components used in Red Hat Application Runtimes. Refer to the [Red Hat Application Runtimes Component Detail Index](https://access.redhat.com/articles/3348731) for other releases.

### Bill Of Materials (BOM) with supported and non-supported artifacts

For convenience purposes Red Hat build of Quarkus ships with two different BOM's. One that only includes productized artifacts and one that contains both productized and community artifacts. Please note that the purpose of a Bill of Material is to align versions within a release to avoid misalignment of versions and as such it's not optimal to list supported vs not supported artifacts. For a complete list of supported artifacts please see [Supported Maven Artifacts Provided with Red Hat build of Quarkus 1.11.7.Final](#supported-maven-artifacts-provided-with-red-hat-build-of-Quarkus-1.11.7.Final).

| GroupID | ArtifactID | Version | Explaination
| ----- | ----- | ----- | -----
| com.redhat.quarkus.platform | quarkus-bom | {fullVersion} | Supported artifacts
| com.redhat.quarkus | quarkus-universe-bom | {fullVersion} | Supported artifacts and community artifacts[1]

[1]=Usage of the quarkus universe bom is deprecated and are likely to be removed in future versions. Please switch to use the com.redhat.quarkus.platform:quarkus-bom instead.

### Supported Maven Artifacts provided with Red Hat build of Quarkus {shortVersion}
The following artifacts are supported as defined by the [Red Hat Production Support Scope of Coverage](https://access.redhat.com/support/offerings/production/soc/) for usage both in JVM and Native mode

| GroupID | ArtifactID | Version
| ----- | ----- | -----
{#for extension in supportedExtensions}
|{extension.groupId}|{extension.artifactId}|{extension.version}
{/for}

### Supported Maven Artifacts to use in JVM mode provided with Red Hat build of Quarkus {shortVersion}
The following artifacts are supported as defined by the [Red Hat Production Support Scope of Coverage](https://access.redhat.com/support/offerings/production/soc/) for usage both in JVM mode. NOTE! These extension are currently not supported to use in Native mode and are considered to be Tech preview to use in Native mode.

| GroupID | ArtifactID | Version
| ----- | ----- | -----
{#for extension in supportedInJvmExtensions}
|{extension.groupId}|{extension.artifactId}|{extension.version}
{/for}

### Technology Preview
Red Hat does not provide support for Technology Preview components provided with this release of Red Hat build of Quarkus. Items designated as Technology Preview in the sections below have limited supportability, as defined by the [Technology Preview Features Support Scope](https://access.redhat.com/support/offerings/techpreview/).

### Technology Preview Maven Artifacts provided with Red Hat build of Quarkus {shortVersion} 
|Group ID | Artifact ID | Version
| ----- | ----- | -----
{#for extension in techpreviewExtensions}
|{extension.groupId}|{extension.artifactId}|{extension.version}
{/for}

### Development supported Maven Artifacts provided with Red Hat build of Quarkus {shortVersion}
The following artifacts are supported as defined by the [Red Hat Development Support Scope of Coverage](https://access.redhat.com/support/offerings/developer/soc/)

| Group ID | Artifact ID | Version
| ----- | ----- | -----
{#for extension in devSupportedExtensions}
|{extension.groupId}|{extension.artifactId}|{extension.version}
{/for}


