The page lists important details about the Red Hat build of Quarkus Components used in Red Hat Application Runtimes. Refer to the [Red Hat Application Runtimes Component Detail Index](https://access.redhat.com/articles/3348731) for other releases[[1]](#fnote1).

### Level of Support Classifications

Module support classifications serve as guidelines for customer use cases, and they are described in detail below:

* {support_table:supportStatusHtml("supported",appConfig).raw}
    The component fully supported for usage both in JVM and Native mode
    As defined by the [Red Hat Production Support Scope of Coverage](https://access.redhat.com/support/offerings/production/soc/).

* {support_table:supportStatusHtml("supported-in-jvm",appConfig).raw}
    The component fully supported for in JVM mode, Native mode are considered as Tech Preview
    As defined by the [Red Hat Production Support Scope of Coverage](https://access.redhat.com/support/offerings/production/soc/).

* {support_table:supportStatusHtml("deprecated",appConfig).raw}
    The component has been marked as deprecated and might be removed in the next release, but it's still supported in this release
    As defined by the [Red Hat Production Support Scope of Coverage](https://access.redhat.com/support/offerings/production/soc/).

* {support_table:supportStatusHtml("tech-preview",appConfig).raw}
    The component is considered a technology preview.  Red Hat does not provide support for Technology Preview components provided with this release of Red Hat build of Quarkus. Items designated as Technology Preview in the sections below have limited supportability, as defined by the [Technology Preview Features Support Scope](https://access.redhat.com/support/offerings/techpreview/).

* {support_table:supportStatusHtml("dev-support",appConfig).raw}
    The component is supported for development use only as defined by the [Red Hat Development Support Scope of Coverage](https://access.redhat.com/support/offerings/developer/soc/)

* {support_table:supportStatusHtml("dev-preview",appConfig).raw}
    The component is provided as developer preview as defined by the [Red Hat Developer Preview Scope of Coverage](https://access.redhat.com/support/offerings/devpreview)




### Bill Of Material (BOM) with supported and none supported extensions

For convenience purposes Red Hat build of Quarkus ships with two different BOM files. One that only includes productized extensions and one that contains both productized and community extensions. Please note that the purpose of a Bill of Material is to align versions within a release to avoid misalignment of versions and as such it's not optimal to list supported vs not supported extensions. For a complete list of supported extensions please check the dedicated table on this page.

We only support application build using a BOM, please use one of the following Bill of material:


|GroupID | Extension ID | Explanation |
|---- | ---- | ---- |
|com.redhat.quarkus.platform | quarkus-bom | Supported and community extensions |

#### List of the available platform versions

Red Hat build of Quarkus 2 and later is using a platform concept to align multiple groups of extensions. The list below shows which platform vesions have been released and the members list which additional groups of extensions has been included.

{#include platform-version-list /}

### Supported extensions in Red Hat build of Quarkus {mainVersion}.x
The maven dependency need to use the groupID `io.quarkus`.
We recommend to use the bom file instead of adding the dedicated version for the component.

{#include supported-extensions-table /}


---

###### [1] This page lists the status of different extensions from a maturity perspective and does not define what is included in different product subscriptions. This page indicates which extension is considered stable enough to be fully supported, etc., but it does not list what product subscriptions are required to be entitled to. For example, a Red Hat Runtimes subscription or Red Hat OpenShift Container Platform subscription does not include integration extensions like Apache Camel and Apache CXF. To get entitlement for Camel and CXF requires a Red Hat Application Foundations (or similar) subscription. # \{#fnote1\}
