The page lists important details about the Red Hat build of Quarkus Components used in Red Hat Application Runtimes. Refer to the [Red Hat Application Runtimes Component Detail Index](https://access.redhat.com/articles/3348731) for other releases.

### Level of Support Classifications

Module support classifications serve as guidelines for customer use cases, and they are described in detail below:

* <font color="green">**S**</font>
    The component fully supported for usage both in JVM and Native mode
    As defined by the [Red Hat Production Support Scope of Coverage](https://access.redhat.com/support/offerings/production/soc/).

* <font color="green">**JVM**</font>
    The component fully supported for in JVM mode, Native mode are considered as Tech Preview
    As defined by the [Red Hat Production Support Scope of Coverage](https://access.redhat.com/support/offerings/production/soc/).

* <font color="orange">**TP**</font>
    The component is considered a technology preview.  Red Hat does not provide support for Technology Preview components provided with this release of Red Hat build of Quarkus. Items designated as Technology Preview in the sections below have limited supportability, as defined by the [Technology Preview Features Support Scope](https://access.redhat.com/support/offerings/techpreview/).

* <font color="blue">**DEV**</font>
    The component is supported for development use only as defined by the [Red Hat Development Support Scope of Coverage](https://access.redhat.com/support/offerings/developer/soc/)



### Bill Of Material (BOM) with supported and none supported extensions

For convenience purposes Red Hat build of Quarkus ships with two different BOM files. One that only includes productized extensions and one that contains both productized and community extensions. Please note that the purpose of a Bill of Material is to align versions within a release to avoid misalignment of versions and as such it's not optimal to list supported vs not supported extensions. For a complete list of supported extensions please check the dedicated table on this page.

We only support application build using a BOM, please use one of the following Bill of material:


|GroupID | Extension ID | Explanation |
|---- | ---- | ---- |
|com.redhat.quarkus.platform | quarkus-bom | Supported and community extensions |

#### List of the available platform versions

Red Hat build of Quarkus 2 is using a platform concept to align mulitple groups of extensions. The list below shows which platform vesions have been released and the members list which additional groups of extensions has been included.

{#include platform-version-list /}

### Supported extensions Red Hat build of Quarkus 2.x {|{#RHBQ_2}|}
The maven dependency need to use the groupID `io.quarkus`.
We recommend to use the bom file instead of adding the dedicated version for the component.

{#include supported-extensions-table /}

